<mat-card>
  <mat-card-header>
    <app-edit-name
      [name]="heatingEquipment.name || 'Отопительное оборудование'"
      label="Название"
    ></app-edit-name>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <div class="info-row">
      <app-changable-status
        [status]="heatingEquipment.status"
        [label]="heatingEquipment.name"
      ></app-changable-status><app-refresh-value></app-refresh-value>

    </div>
    <div class="info-row" *ngIf="heatingEquipment.temperature">
      <span class="info-row__label">Показания температуры: </span>
      <span class="info-row__value"
        ><app-refresh-value>{{ heatingEquipment.temperature }}{{ heatingEquipment.units }}</app-refresh-value></span
      >
    </div>
    <div class="info-row">
      <span class="info-row__label">Диапазон отслеживания: </span>
      <span class="info-row__value"
        >от
        <app-changable-value
          [value]="heatingEquipment.userRange?.[0]"
          [units]="heatingEquipment.units"
          label="Нижняя граница отслеживания"
        ></app-changable-value>
        до
        <app-changable-value
          [value]="heatingEquipment.userRange?.[1]"
          [units]="heatingEquipment.units"
          label="Верхняя граница отслеживания"
        ></app-changable-value
      ></span>
      <app-refresh-value></app-refresh-value>
    </div>
    <div class="info-row">
      <span class="info-row__label">Вход подключения: </span>
      <span class="info-row__value" *ngIf="!editMode">
        {{ heatingEquipment.inputNumber }}
        
      </span>
      <mat-form-field *ngIf="editMode">
        <mat-label>Номер входа</mat-label>
        <mat-select>
          @for (input of [1,2,3,4,5,6]; track input) {
            <mat-option [value]="input">{{input}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="info-row">
      <span class="info-row__label">Максимальное доступное значение: </span>
      <span class="info-row__value"
        ><app-changable-value
        [value]="heatingEquipment.userRange?.[0]"
        [units]="heatingEquipment.units"
        [disabled]="!editMode"
        label="Нижняя граница отслеживания"
      ></app-changable-value></span
      >
    </div>
    <div class="info-row">
      <span class="info-row__label">Минимальное доступное значение: </span>
      <span class="info-row__value"
        ><app-changable-value
        [value]="heatingEquipment.userRange?.[0]"
        [units]="heatingEquipment.units"
        [disabled]="!editMode"
        label="Нижняя граница отслеживания"
      ></app-changable-value></span
      >
    </div>
  </mat-card-content>
</mat-card>
