<mat-card>
    <mat-card-header>
      <app-edit-name
        [name]="securitySiren.name || 'Охранная сирена'"
        label="Название"
      ></app-edit-name>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>
        <div class="info-row">
          <app-changable-status
            [status]="securitySiren.status"
            [label]="securitySiren.name"
          ></app-changable-status>
          <app-refresh-value></app-refresh-value>
        </div>
    </mat-card-content>
  </mat-card>