<mat-card>
  <mat-card-header>
    <app-edit-name
      [name]="securityAlarm.name || 'Охранная сигнализация'"
      label="Название"
    ></app-edit-name>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <div class="info-row">
      <app-changable-status
        [status]="securityAlarm.status"
        [label]="securityAlarm.name"
      ></app-changable-status>
      <app-refresh-value></app-refresh-value>
    </div>
    Выходы охранной сигнализации:
    <mat-divider></mat-divider>

    <div *ngFor="let input of securityAlarm.alarmInputs">
      <app-edit-name
        [name]="input.name || 'Охранный выход'"
        label="Название"
      ></app-edit-name>
      <div class="info-row">
        <app-changable-status
          [status]="input.status"
          [label]="input.name"
        ></app-changable-status>
        <app-refresh-value></app-refresh-value>

      </div>
      <div class="info-row">
          <span class="info-row__label">Звуковой сигнал: </span
          ><app-toggle [value]="input.sound" [disabled]="editMode"></app-toggle>
      </div>
      <div class="info-row">
          <span class="info-row__label">Размыкание: </span
          ><app-toggle
            [value]="input.switchState"
            [disabled]="!editMode"
            firstTitle="Замкнут"
            secondTitle="Разомкнут"
          ></app-toggle>
          <app-refresh-value></app-refresh-value>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-card-content>
</mat-card>
